* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --body-color: #000000;
    --light-body-color: rgba(0, 0, 0, 0.7);
    --white-color: white;
    --red-color: #EB2C24;
}

/* Header */
.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.header__logo {
    width: 50%;
    max-width: 15rem;
}

.header__image {
    width: 100%;
}

.header__menu {
    width: 100%;
}

.header__navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.header__link {
    display: block;
    color: var(--white-color);
    text-decoration: none;
    color: var(--body-color);
    transition: 300ms ease color, 300ms ease transform;
    font-size: clamp(1rem, 5vw, 1.1rem);
    border: 2px solid transparent;
}

.header__link:is(:focus, :hover) {
    outline: none;
    color: rgba(0, 0, 0, 0.8);
    transform: translateY(-5px);
    border-bottom-color: var(--red-color);
    cursor: pointer;
} 

/* Filter Bar */
.filter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
    padding: 3rem 2rem 2rem 2rem;
}

.filter__input {
    width: 90%;
    max-width: 30rem;
    border: none;
    outline: none;
    border-radius: 20px;
    border: 2px solid var(--body-color);
    padding: 0.7rem 0.6rem;
    font-size: 1rem;
    cursor: pointer;
}

.filter__option {
    font-size: 1rem;
    cursor: pointer;
}

.filter__button {
    width: 85%;
    max-width: 20rem;
    padding: 1rem;
    outline: none;
    background-color: var(--red-color);
    color: white;
    border: 2px solid transparent;
    border-radius: 20px;
    margin-block-start: 1rem;
    cursor: pointer;
    transition: 300ms ease all;
}

.filter__button:is(:focus, :hover) {
    background-color: transparent;
    color: var(--red-color);
    border-color: var(--red-color);
    transform: translateY(-0.25rem);
}

/* Card Section */
.card {
    padding: 1rem 2rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: clamp(3rem, 5vw, 5rem);

}

.single {
    position: relative;
    width: 90%;
    max-width: 20rem;
    cursor: pointer;
    overflow-y: hidden;
}

.single__imageContainer {
    width: 100%;
    height: 30rem;
}

.single__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 3px solid var(--body-color);     
}

.single__category {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    color: var(--white-color);
    border: 3px solid var(--body-color);     
    background-color: var(--light-body-color);
    transform: translateY(100%);
    transition: 300ms ease-in-out transform;
}

.single:hover .single__category,
.single:focus .single__category {
    transform: translateY(0);
}

/* Stats */
.stats {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding:1rem 2rem 2rem 2rem;
}

.stats__item {
    color: gray;
}



/* Media Queries */
@media screen and (min-width: 400px) {
    /* Header */
    .header {
        justify-content: space-around;
    }

    .header__menu {
        width: 50%;
        max-width: 20rem;
    }
}